.container{
    display: flex;
    flex-wrap: wrap;
    background-color:#cafcf9;
}

.container-login{
    flex-grow: 1;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-login form{
    background-color: #fff;
    width: 25%;
    padding: 20px;
    border-radius: 1.5%;
    box-shadow: 0px 0px 31px -1px rgba(0,0,0,0.48);;
    text-align: center;

}

.container-action{
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.container-logo{
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 150px;
}
